body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 1fr 5fr;
}

.header{
    background-color: white;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
}

.side-bar{
    background-color: lightseagreen;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.logo{
    padding-left: 15px;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.img-logo{
    padding: 0 10px 0 10px;
    width: 32px;
}

.img-icon{
    width: 1rem;
    padding-right: 10px;
}

a.img-wrapper{
    text-decoration: none;
}

.text-logo{
    font-size: 2rem;
    font-weight: bold;
}

.content{
    background-color: rgb(227, 224, 224);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    box-shadow: 0px -2px 5px grey;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav1{
    padding-left: 15px;
}

ul.nav2{
    margin-top: 50px;
    padding-left: 15px;
}

li{
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.projects{
    grid-row: span 2;
}

.header-search{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: end;

}

input[type="search"]{
    background-color:rgb(227, 224, 224);
    border: none;
    height: 1.8rem;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    margin-right: 100px;
}


.header-profile{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.img-profile{
    width: 60px; 
    padding: 0px 15px 0px 15px;
}

.img-icon-header{
    width: 1.2rem;
}

.profile-name{
    font-weight: bold;
    font-size: 1.2rem;
}

.header-welcome{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;

}


.header-welcome > .img-profile{
    width: 90px;
    padding-left: 60px;
}

.welcome-text-wrapper > .profile-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.header-action  button{
    color: white;
    background-color: rgb(0, 119, 255);
    font-size: 1rem;
    padding: 10px 25px 10px 25px;
    margin: 0 10px 0 10px;
    border-radius: 30px;
    border: none;
}

.content > .projects{
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.project-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    margin: 5px 0px 15px 15px;
}

.project-card{
    background-color: white;
    border: none;
    border-left: 10px solid orange;
    border-radius: 10px;
    display: grid;
    box-shadow: 5px 5px 5px grey;
}

h2.content-title{
    margin: 15px 0px 0px 15px;
}

.card-content-wrapper > h3{
    margin: 15px 0px 0px 15px;
}

.card-content-wrapper > p{
    margin: 5px 0px 0px 15px;
    color: rgb(100, 98, 98);
}

.card-action-icon{
    justify-self: end;
    align-self: end;
    margin-right: 15px;
}
.card-action-icon > .img-icon{
    width: 20px;
    padding: 10px;
    margin-bottom: 5px;
}


.content > .announcements{
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.announcement-wrapper{
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 5px 15px 15px 15px;
    display: grid;
    box-shadow: 5px 5px 5px grey;
}

.announcement-wrapper > .announce-card{
    margin: 0px 10px;
}

.announcement-wrapper > .announce-card:not(:first-child){
    border-top: 1px solid rgba(128, 128, 128, 0.7);
}


.announce-card > .announce-content{
    margin: 0px 15px 15px 0px;
    color: rgb(100, 98, 98);
    font-size: 0.9rem;

}

.announce-card > .title{
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.content > .trending{
    display: grid;
    grid-template-rows: 1fr 7.5fr;
}

.trend-wrapper{
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 5px 15px 15px 15px;
    display: grid;
    box-shadow: 5px 5px 5px grey;
}

.trend-card{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.trend-card .user-alias{
    font-weight: bold;
}

.trend-card .trend-content{
    color: rgb(100, 98, 98);
    padding-top: 5px;
}
