body{
    margin: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 5fr;
}

.header{
    background-color: white;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.side-bar{
    background-color: lightseagreen;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.logo{
    padding-left: 15px;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.img-logo{
    padding: 0 10px 0 10px;
    width: 32px;
}

.img-icon{
    width: 16px;
    padding-right: 10px;
}

a.img-wrapper{
    text-decoration: none;
}

.text-logo{
    font-size: 2rem;
    font-weight: bold;
}

.content{
    background-color: rgb(227, 224, 224);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav1{
    padding-left: 15px;
}

ul.nav2{
    margin-top: 50px;
    padding-left: 15px;
}

li{
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.projects{
    grid-row: span 2;
}

.header-search{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: end;
}

input[type="search"]{
    background-color: rgb(202, 197, 197);
    border: none;
    height: 1.5rem;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    margin-right: 100px;
}

.img-icon-search{
    width: 32px;
}